
<ion-header>
  <ion-toolbar >
    <ion-title >Relé BLE app</ion-title>
    
    <ion-button fill="solid" mode="ios" color="primary" (click)="Scan()" slot="end">
      <ion-icon name="Bluetooth"></ion-icon>
      <p>Buscar</p>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
   
    <ion-card mode="md">
      <ion-card-header>
        <ion-card-subtitle>Dispositivos encontrados, seleccione:</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        
          <ion-list>
            
              <ion-button size="small" expand="block" color="secondary" ion-item *ngFor="let device of devices" (click)="deviceSelected(device)">
                <p>{{ device.name || 'Desconocido' }}</p>
                <p> - </p>
                <p>{{ device.id }}</p>
                
              </ion-button>
            
          </ion-list>
        
      </ion-card-content>
    </ion-card>

  
</ion-content>

<ion-footer >
  <ion-toolbar>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
</ion-footer>